ion-card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
}

ion-progress-bar {
  margin-top: 10px;
  border-radius: 6px;
}

ion-button {
  margin-top: 20px;
}

p {
  line-height: 1.4;
}
