// El ion-content queda libre de Flexbox para que Ionic maneje sus capas internas en paz
ion-content {
  --padding-top: 30px;
}

// 🌟 El Flexbox se lo aplicamos al contenedor interno
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh; // Esto asegura que se centre verticalmente en la pantalla
}

ion-button {
  margin-top: 20px;
}

a {
  color: var(--ion-color-primary);
  text-decoration: none;
  font-weight: bold;
}


