:root {
  --ion-color-primary: #0074d9;
  --ion-color-secondary: #2ecc40;
  --ion-color-tertiary: #ff851b;
  --ion-color-success: #28a745;
  --ion-color-warning: #ffdc00;
  --ion-color-danger: #ff4136;
  --ion-color-light: #f4f4f4;
  --ion-color-medium: #9b9b9b;
  --ion-color-dark: #111;
}
